{% extends "base.html" %}
{% load static %}
{% block title %} Promise {% endblock %}
{% load crispy_forms_tags %}


{% block contend %}



<h1> {{promise.title}}</h1>

    <p> Stasus:<b>{{promise.status}} </b> </p>
    <p>Tarifi:<b> {{promise.body}} </b> </p>
    <p>Turi:<b> {{promise.public}} </b> </p>
    <p>Yakunlanadi:<b> {{promise.finished_at}} </b> </p>

    {% if promise.promisecommit_set.all%}
    <br><b> <i>Commitlar</i> </b>
        {%for commit in promise.promisecommit_set.all %}
            <h5>{{commit.user.username}}</h5>
            <h6>{{commit.commit}}</h6>
            <h6>{{commit.created_at}}</h6>
    
        {%endfor%}
    {%endif%}
    
<form  method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary">Add Commit</button>
</form>


{% endblock %}