
{% extends "base.html" %}
{% block contend %}
<b>
    <h1> Who We Are </h1>
</b>

<p> Vadaboz uz</p>

<h1> Our statics</h1>
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col">
                <h3>Foydalanuvchilar soni </h3><br>
                {{books.count}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Bajarilgan vadalar</h3><br>
                {{reviews.count}}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col">
                <h3>Umumiy vadalar vadalar</h3><br>
                {{users.count}}
            </div>
        </div>
                <div class="row">
            <div class="col">
                <h3>Bajarilmagan vadalar</h3><br>
                {{authors.count}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
